*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "greycliff-cf", sans-serif;
}
main{
    margin-top: 7rem;

}
/* navbar */
nav{
    height: 7rem;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    border-bottom: #6c757d 2px solid;
    z-index: 4;
}
#logoNav{
    height: 4rem;
    transition: all .2s ease-in-out;
}
#logoNav:hover{
    fill: #97CAD0;
    transform: scale(1.2);
}
#navbarlist li a, #hamburgerMenu ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #2F3953;
    padding: 0.7rem;
    position: relative;
}
#navbarlist li a:hover, #hamburgerMenu ul li a:hover {
    color: #000000;
}

#navbarlist li a::before, #hamburgerMenu ul li a::before {
    background: #97CAD080;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}


#navbarlist li a:hover::before, #hamburgerMenu ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.linkactive{
    font-weight: bold;
}
/* Hamburger */
#hamburgerResponsive{
    display: none;
}
#hamburger{
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 45px;
    right: 20px;
    flex-direction: column;
    justify-content: space-between;
}
#hamburger .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2F3953;
}
#hamburger .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
#hamburger .line2{
    transition: transform 0.2s ease-in-out;
}
#hamburger .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
#hamburgerMenu{
    transition: transform 0.5s ease-in-out;
    display: none;
    background-color: #ffffff95;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-bottom: #6c757d 2px solid;
}
#hamburgerMenu ul li a{
    display: block;
}

/* Index pagina */
#indexPagina main{
    min-height: calc(100vh - 236px - 7rem);
    background-image: url("assets/indexcoverLigther.png");
    background-position: center;
    background-size: cover;
}
#indexPagina footer{
    position: absolute;
    bottom: 0;
}
#indexPagina main #cover div{
    color: #2F3953;
    font-weight: bold;
}
#indexPagina main #cover div h1{
    font-size: 10rem;
}
#indexHero{
    border-radius: 20px;
    background-color: #ffffff95;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

div#cirkelSocials{
    position: absolute;
    top: 20%;
    left: 0;
    margin-left: -12rem;
    height: 20rem;
    width: 20rem;
    border-radius: 20rem;
    background-color: #97B1DE98;
    filter: blur(8px);
    -webkit-filter: blur(8px);

}
#socials{
    position: absolute;
    top: 20%;
    left: -3rem;

}
#socials ul li a svg{
    width: 3rem;
    fill: #2F3953;
    margin: 0.5rem 0;
    transition: all .2s ease-in-out;
}

.socialIconStroke{
    stroke: #2F3953;
}
#socials ul li:hover{
    transform: scale(1.2);
    fill: #ffffff;
}

#socials ul li a svg#facebook{
    width: 3.5rem;
    margin-bottom: -5px;
    margin-left: -4px;
}
#socials ul li a svg#twitter{
    width: 2.5rem;
    margin-left: 5px;
}

/* Expertise */
#expertise #expertiseBanner{
    text-align: center;
    padding: 10rem 5rem;
    font-size: 4rem;
    color: #97CAD0;
}
.expertiseTexts{
    color: #2F3953;
}

.expertiseSvg path, .expertiseSvg rect, .expertiseSvg line{
    stroke: #2F3953;
}
.expertiseBlock{
    border-radius: 10px;
    max-width: 70%;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
    transition: all .2s ease-in-out;
}
.expertiseBlock:hover{
    transform: scale(1.1);
}
#vastgoed{
    background-image: url("assets/vastgoed.png");
}
#ondernemingsrecht{
    background-image: url("assets/ondernemingsrecht.png");
}
#fusies_overnames{
    background-image: url("assets/fusies_overnames.png");
}
.expertiseTexts{
    border-radius: 10px;
    padding: 2rem;
    background-color: #ffffff90;
    backdrop-filter: blur(25px);

}
/*.circle{*/
/*    width: 15rem;*/
/*    height: 15rem;*/
/*    border-radius: 100%;*/
/*    position: absolute;*/
/*    z-index: -1;*/

/*}*/
/*#expertiseCircle1{*/
/*    background-color: #97CAD0;*/
/*    top: 30rem;*/
/*    left: -7.5rem;*/
/*}*/
/*#expertiseCircle2{*/
/*    background-color: #97B1DE;*/
/*    position: relative;*/
/*    top: 30rem;*/
/*    left: 50rem;*/
/*}*/

.instagrambericht{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 5rem;
}

/* Nieuws pagina */
main ul#nieuws__categorie{
    border: 1px solid #6c757d;
    border-radius: 20px;

}
main .nieuwfeitjes  img{
    width: 100%;
}
main .nieuwsdetail  img{
    width: 100%;
}
main #nieuws__categorie li{
    padding: 0.5rem;
}
main #nieuws__categorie #activeCat, main #nieuws__categorie li:hover{
    background-color: #97CAD0;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

main .nieuwsartikel a{
    color: #000000;
    text-decoration: none;
}
main .nieuwsartikel{
    transition: all .2s ease-in-out;
}
main .nieuwsartikel:hover{
    transform: scale(1.025);
    background-color: #97CAD0;
    border-radius: 10px;
    cursor: pointer;
}
main .nieuwsartikel h6, #detail__titel{
    font-weight: bold;
    font-size: 1.2rem;
}


#nieuws__breadcrumb{
    font-weight: bold;
}






.article-block {
    border-radius: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
    position: relative;
    height: 150%;
}
.article-block a {
    display: block;
    text-align: center;
}



.article-block:hover {
    background-color: #97CAD0;
    transform: scale(1.05);
}

.article-title {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 3.2rem;
}

.article-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #97CAD0;
    z-index: -1;
}
.article-link{
    vertical-align: bottom;
    display: table-cell;
}

/* over ons */

.c-item {
    height: 650px;
}

.c-img {
    height: 80%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-right: 100px;
}
.overons-container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-right: 100px;
}



.overons-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    max-width: 550px;

}

.overons-text {
    font-size: 18px;
    max-width: 500px;
}

.overons-image-container img {
    max-width: 500px;
    max-height: 550px;
}
.overons-image-container2 img {
    max-width: 500px;
    max-height: 550px;
}


@media screen and (max-width: 768px) {
    .overons-container,
    .overons-container2 {
        margin-right: 0;}

    .overons-image-container img {
        max-width: 350px;
        max-height: 450px;
    }
    .overons-image-container2 img {
        max-width: 350px;
        max-height: 450px;
    }
}

.overons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overons-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.overons-text {
    text-align: center;
}

.overons-title {
    font-weight: bold;
}


.overons-banner {
    position: relative;
    width: 100%;
    height: 820px;
}

.overons-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overons-text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.overons-text-overlay p {
    font-size: 24px;
    font-weight: bold;
}

.c-item {
    height: 500px;
}

.c-img {
    height: 80%;
    object-fit: cover;
    filter: brightness(0.6);
}
nav{
    background-color: #ffffff;
}
/* Contact pagina */
#body-contact{
    background-color: #2F3953;
}
.contactpagina{
    background-color: #2F3953;
}
.text-contact{
    color: #FFFFFF;
    margin-top: 100px;
    margin-left: 20px;
}
.form-check{
    color:#FFFFFF;;
}


/* pakketten */
#pakketten{
    margin-bottom: 10rem;
}

#pakketten{
    margin-bottom: 15rem;
}
.article-block {
    border-radius: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
    position: relative;
    height: 100%;
    border: 1px solid #97CAD0;
}

.article-block a {
    display: block;
    text-align: center;
}


.article-block:hover {
    background-color: #97CAD0;
    transform: scale(1.05);
    cursor: pointer;
}

.article-title {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 3.2rem;
}

.article-link {
    vertical-align: bottom;
    display: table-cell;
}

#paketten__volgendeStap {
    margin-top: 10rem;
    display: none;
}

#pakketten__betaling{
    display: none;
}

#errorMess{
    display: none;
}

.pakketten_buttons {
    background-color: #ffffff;
    border: 1px solid #97CAD0;
    color: #2F3953;
    margin-top: 5rem;
}

.pakketten_buttons:hover {
    background-color: #97CAD0;
    color: #ffffff;
    border: 1px solid #ffffff;
}
#pakket__betaling__div{
    background-color: #97CAD0;
    padding: 4rem;
    border-radius: 10px;
}

#pakketten__betaling_einde{
    background-color: #97CAD0;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
}
#pakketten__betaling_einde:hover{
    transform: scale(1.05);
}

#betalingswijze svg{
    width: 8rem;
    padding: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
#betalingswijze svg:hover{
    background-color: #97CAD0;
    transform: scale(1.05);
}
#betalingswijze .selectedSvg{
    transform: scale(1.05);
}
#pakketten__confirmatie{
    display: none;
}

.confirmatie__kleur{
    color: #97CAD0;
}
/* Contact pagina */
#body-contact{
    background-color: #2F3953;
}
.contactpagina{
    background-color: #2F3953;
}
.tekst-contact{
    color: #FFFFFF;
    margin-top: 100px;
    margin-left: 20px;
}
.form-check{
    color:#FFFFFF;;
}

#akkoord__submit{
    cursor: pointer;
}

#errorMessOverOns{
    display: none;
}

h4{
    font-weight: bold;
}

#titel-formulier{
    color: #FFFFFF;
    font-weight: bold;
    margin: 50px 0 0 0;
}
.formulier{
    margin: 0 0 20px 0;
}
#stad-contact{
    font-weight: bold;
}
/*socials contact*/
#socials-contact{
    position: absolute;
    top: 20%;
    left: -3rem;

}
#socials-contact ul li a svg{
    width: 3rem;
    fill: #FFFFFF;
    margin: 0.5rem 0;
    transition: all .2s ease-in-out;
}
#socials-contact ul li a svg:hover{
    transform: scale(1.2);
}
#socials-contact ul li a svg:hover{
    fill: #ffffff;
}
#socials-contact ul li a svg#facebook{
    width: 3.5rem;
    margin-bottom: -5px;
    margin-left: -4px;
}
#socials-contact ul li a svg#twitter{
    width: 2.5rem;
    margin-left: 5px;
}
.button{
    transition-duration: 0.4s;
    background-color: #2F3953;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;

    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    border-radius: 35px;
}
.button:hover{
    background-color: #FFFFFF;
    color: #2F3953;
    border: 2px solid #2F3953;
}
#tekst-contact{
    color: #FFFFFF;
}
.contact__link a{
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.3s ease;
}
.contact__link a:hover{
    color: #97CAD0;
}

/* Footer */
footer{
    overflow: hidden;
    background-color: #FFFFFF;
}
.footerlogo svg {
    fill: #2F3953;
    width: 3rem;
    transition: all .2s ease-in-out;
}
.footerlogo svg:hover{
    transform: scale(1.2);
}
.footerlogo svg:hover{
    fill: #97CAD0;
}
#terms{
    height: 1rem;
    font-size: 0.7rem;
}
/* Media Query Responsive */
@media screen and (max-width: 1080px) {
    #navbarlist li a{
        display: none;
    }
    #hamburger{
        display: block;
        display: flex;
    }
    #hamburgerResponsive{
        display: block;
    }
    .instagrambericht{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 780px) {
    #indexPagina{
        height: calc(100vh);
    }
    #socials, #cirkelSocials{
        display: none;
    }
    #indexPagina footer{
        position: static;
    }

    #indexPagina main #cover div h1{
        font-size: 7rem;
    }
    #socials-contact{
        display: none ;
    }

}
@media screen and (min-width: 1080px) {
    #hamburgerMenu{
        position: absolute;
        top: -30rem;
        overflow: hidden;
    }
}

