*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
/* navbar */
nav{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}
#logoNav{
    height: 4rem;
}
#navbarlist li a, #hamburgerMenu li a {
    list-style-type: none;
    text-decoration: none;
    color: #2F3953;
}
#navbarlist li a:hover, #hamburgerMenu li a:hover {
    color: #000000;
    text-decoration: underline;
}
.linkactive{
    font-weight: bold;
}
/* Hamburger */
#hamburger{
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 45px;
    right: 20px;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}
#hamburger .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2F3953;
}
#hamburger .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
#hamburger .line2{
    transition: transform 0.2s ease-in-out;
}
#hamburger .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
#hamburgerMenu{
    background-color: #ffffff;
    transition: transform 0.5s ease-in-out;
    display: none;
}
#hamburgerMenu ul li a{
    display: block;
}
#hamburgerMenu ul li:hover{
    background-color: #E1E1E1;
}

/* Nieuws pagina */
main ul#nieuws__categorie{
    border: 1px solid #6c757d;
    border-radius: 20px;

}
main .nieuwfeitjes img{
    width: 100%;
}
main #nieuws__categorie li{
    padding: 0.5rem;
}
main #nieuws__categorie #activeCat, main #nieuws__categorie li:hover{
    background-color: #6c757d;
    border-radius: 20px;
    color: #FFFFFF;
}
main .nieuwsartikel a{
    color: #000000;
    text-decoration: none;
}
main .nieuwsartikel:hover{
    background-color: #CAC8C8;
}
nav{
    background-color: #ffffff;
}

/* Media Query Responsive */
@media screen and (max-width: 780px) {
    #navbarlist li a{
        display: none;
    }
    #hamburger{
        display: block;
        display: flex;
    }
}